html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    /* Hide left/right slider */
    overflow-x: hidden;
}
.hero-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/BGtest.jpg');
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100vw;
}
.hero-banner .container {
    color: white;
    margin-top: 20vh;
    margin-left: 5vw;
}
.display-4 {
    font-weight: bold;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
.tpe-1, .tpe-2, .tpe-3 {
    padding: 60px 0;
}
.tpe-1 {
    background: white;
}
.tpe-2 {
    background: #c2c2c2;
}
.picto {
    font-size: 80px;
    margin-top: 30px;
}
.picto-big {
    font-size: 100px;
    margin-top: 20px;
    margin-left: 3px;
}
.circle {
    width: 140px;
    height: 140px;
    border-radius: 80px;
    background: #c2c2c2;
    display: inline-block;
    text-align: center;
}
.choice, .vr {
    font-size: 15px;
 
}
.choice-title {
    font-weight: bold;
}
.histoire-1 {
    background: white;
}
.histoire-2 {
    background: #c2c2c2;
}
.histoire-1, .histoire-2 {
    padding: 80px 0;
}
.img-thumbnail {
    border: 0;
}
.Choice-B {
    font-size: 90px;
}
